
body{
      background-color: #bae5e5;
}

hr{
    border-style:dotted none none none;
    width: 5%;
    border-color: gray;
    height: 0px;
    border-width: 5px;
      
}

h1,h3{
    color: #16817a;
}

.pos{
    padding-left: 30px;
}

.dis{
    display: inline;
}

.proj{
    margin-left: 400px;
}